<?xml version="1.0" encoding="UTF-8"?>
<Settings>
  <Application>
    <Database>
      <Connection>Введите строку подключения к базе данных. Напимер:
        Data Source=.;Initial Catalog=rss;Integrated Security=True;TrustServerCertificate=true;</Connection>
    </Database>
  </Application>
</Settings>